.navbar {
  padding: 8px 16px;
  height: 40px;
  left: 0;
  right: 0;
  line-height: 40px;
}

.container {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.navbarBrand {
  font-family: titillium web,sans-serif;
  font-size: 24px;
  color: #5cb85c;
}